<a href="https://colab.research.google.com/github/theiaa7/PythonLC/blob/main/Basic_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Basic Python Course, read comments to understand the syntax purpose

1. Basic Google Colaboratory knowledge you must know

In [ ]:
# Run Python syntax or module, example: 'print()'
print('Hello students!')

In [ ]:
# Run serverside command, example 'apt'
!sudo apt update && sudo apt upgrade

In [ ]:
# Declare variable from this section
test = "Laboratorium Ilmu Komputer"

In [ ]:
# You can call variable on the top of this section, but you must run the top before
print(test)

Laboratorium Ilmu Komputer

2. Standard Input Output (STDIO) in Python using ```print()``` and ```input()```

In [ ]:
# Print to console like 'cout' in C++, 'echo' in PHP and Shell, and 'console.log' in JavaScript
print('Laboratorium Ilmu Komputer')

In [ ]:
# Get user input
var = input()

# Then print at console
print('Hello ' + var + ', how are you?')

3. Creating variables and data types
</br>Python has no command for declaring a variable. A variable is created the moment you first assign a value to it.

In [ ]:
# Integer
var_a = 1 # <<< Automatically detected as 'int'
var_a = int(var_a)
print(var_a)

In [ ]:
# Float
var_b = 1.0 # <<< Automatically detected as 'float'
var_b = float(var_b)
print(var_b)

In [ ]:
# Char or String
var_c = "Maroon Labkom" # <<< Automatically detected as 'str'
var_c = str(var_c)
print(var_c)

In [ ]:
# Boolean
var_d = True # <<< 'True' not 'true'
var_e = False # <<< 'False' not 'false'
print(var_d)
print(var_e)

In [ ]:
# Variable handler
var_f = '' # <<< Automatically detected as 'str'
var_f = 1 # <<< Automatically detected as 'int'
var_f = 1.0 # <<< Automatically detected as 'float'
var_f = True # <<< Automatically detected as 'bool'
print(var_f) # At the end, 'var_f' is boolean

In [ ]:
# Assign multiple
x, y, z = 1, 2, 3 # <<< x = 1, y = 2, z = 3
print(x + y + z) # 1 + 2 + 3

In [ ]:
# Global scope
name = "Maroon Labkom" # <<< This is global
print(name)
def printName():
  print(name) # <<< This will call 'name' variable from line 35
# ^ Don't forget to add spaces! (2 or 4)

In [ ]:
# Local scope
def setVariable():
  a = 1
print(a) # <<< You can't print 'a' variable because 'a' is on another scope

NameError: ignored

4. Data Structures - List
</br>Lists are used to store multiple items in a single variable. Lists are created using square brackets.

In [ ]:
# List []
names = ['Adam', 'Yoga', 'Akbar', 'Reyhan', 'Fauzan', 'Faradila', 'Devy', 'Bila']
print(names)

In [ ]:
# Print index 0
print(names[0]) # <<< Return string 'Adam'

In [ ]:
# Print latest value from list
print(names[-1]) # <<< Return string 'Bila'

In [ ]:
# Print (latest - 1)  value from list
print(names[-2]) # <<< Return string 'Devy'

In [ ]:
# Sort ascending the list using sort()
names.sort()
print(names)

In [ ]:
# Sort descending the list using sort()
names.sort(reverse = True)
print(names)

In [ ]:
# Add data to end of the list
names.append('New Member?')
print(names)

In [ ]:
# Delete latest data from the list
names.pop()
print(names)

In [ ]:
# Delete data using index from the list
names.pop(0) # <<< Delete 'Yoga' from the list
print(names)

In [ ]:
# Get length of the list
print(len(names))

In [ ]:
# Duplicate or Copy to new variable
names_backup = names.copy()
print(names_backup)

In [ ]:
# Join two or more lists
names_joined = names + names_backup
print(names_joined)

In [ ]:
print(names)
# Item 1 = index 0 = 'Reyhan'
# Item 2 = index 1 = 'Fauzan'
# Item 3 = index 2 = 'Faradilla'
# Item 4 = index 3 = 'Devy'
# Item 5 = index 4 = 'Bila'
# Item 6 = index 5 = 'Akbar'
# Item 7 = index 6 = 'Adam'
print(names[0:3]) # <<< Print values from index 0 to item 3, the first num represent index, the second one represent item

5. Data Structures - Tupple
</br>Tuples are used to store multiple items in a single variable. A tuple is a collection which is ordered and unchangeable. Tuples are written with round brackets.

In [ ]:
# Tupple ()
names = ('Adam', 'Yoga', 'Akbar', 'Reyhan', 'Fauzan', 'Faradila', 'Devy', 'Bila')
print(names)

In [ ]:
# Print index 0
print(names[0]) # <<< Return string 'Adam'

In [ ]:
# Print latest value from list
print(names[-1]) # <<< Return string 'Bila'

In [ ]:
# Print (latest - 1)  value from list
print(names[-2]) # <<< Return string 'Devy'

In [ ]:
# Add data to tuple, convert to list, then make it tuple again
names_to_list = list(names)
names_to_list.append('New Member?')
names = tuple(names_to_list)
print(names)

6. Data Structures - Set
</br>Sets are used to store multiple items in a single variable. Sets are used to store multiple items in a single variable.

In [ ]:
# Set {}
names = {'Adam', 'Yoga', 'Akbar', 'Reyhan', 'Fauzan', 'Faradila', 'Devy', 'Bila'}
print(names)

In [ ]:
# Call value from set
print(names[0]) # <<< You can't print value from set with index! :(

In [ ]:
# Call values from set
for name in names:
  print(name)

In [ ]:
# Add data to set
names.add('New Member?')

# Call values from set again
for name in names:
  print(name)

In [ ]:
# Remove data from the set
names.remove('Adam')
print(names)

In [ ]:
# Join sets
names_copy = {'Adam'}
names_joined = names.union(names_copy)
print(names_joined)

7. Data Structures - Dictionaries
</br>Dictionaries are used to store data values in key:value pairs. A dictionary is a collection which is ordered*, changeable and do not allow duplicates. Dictionaries are like JavaScript Object Notation (JSON)

In [ ]:
# Dictionary
maroonlabkom_member_1 = {
    'name': 'Adam',
    'region': 'Bogor'
}

maroonlabkom_member_2 = {
    'name': 'Prayoga',
    'region': 'Depok'
}

print(maroonlabkom_member_1)
print(maroonlabkom_member_2)

In [ ]:
# Dictionary to list
list_members_name = list()
list_members_name.append(maroonlabkom_member_1.get('name'))
list_members_name.append(maroonlabkom_member_2.get('name'))
print(list_members_name)

In [ ]:
# Get keys from dict
maroonlabkom_member_1.keys()

In [ ]:
# Change value by key
maroonlabkom_member_1['name'] = 'Dila'
maroonlabkom_member_2['name'] = 'Bila'
print(maroonlabkom_member_1)
print(maroonlabkom_member_2)

In [ ]:
# Change value using update() method
maroonlabkom_member_1.update({'name': 'Akbar'})
maroonlabkom_member_2.update({'name': 'Reyhan'})
print(maroonlabkom_member_1)
print(maroonlabkom_member_2)

In [ ]:
# Add key and value
maroonlabkom_member_1['age'] = 17
maroonlabkom_member_2['age'] = 21
print(maroonlabkom_member_1)
print(maroonlabkom_member_2)

In [ ]:
# Remove key and value
maroonlabkom_member_1.pop('age')
maroonlabkom_member_2.pop('age')
print(maroonlabkom_member_1)
print(maroonlabkom_member_2)

In [ ]:
# Print keys from dict
for key in maroonlabkom_member_1.keys():
  print(key)

In [ ]:
# Print values from dict
for value in maroonlabkom_member_1.values():
  print(value)

In [ ]:
# Copy to new variable
maroonlabkom_member_3 = maroonlabkom_member_1
print(maroonlabkom_member_3)

In [ ]:
# Nested dictionary
maroon_19 = {
    'member1' : {
        'name': 'Devy'
    },
    'member2' : {
        'name': 'Reyhan'
    }
}
print(maroon_19)

In [ ]:
# Add new item to nested dictionary
maroon_19['member3'] = {'name': 'Adam'}
print(maroon_19)

In [ ]:
# Update item nested dictionary
maroon_19.update({'member3': {'name': 'Fauzan'}})
print(maroon_19)

{'member1': {'name': 'Devy'}, 'member2': {'name': 'Reyhan'}, 'member3': {'name': 'Fauzan'}}

In [ ]:
# Remove item from nested dictionary
maroon_19.pop('member3')
print(maroon_19)

6. Conditions and If statement

In [ ]:
# Greater using >
a = 33
b = 200
if b > a:
  print("b is greater than a")
# ^ Look at the spaces!

b is greater than a

In [ ]:
# Greater using >
a = 33
b = 200
if b > a:
print("b is greater than a")
# ^ This will return error!

7. Loops - While

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

In [ ]:
# With break statement
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

8. Loops - For

In [ ]:
# List []
names = ['Adam', 'Yoga', 'Akbar', 'Reyhan', 'Fauzan', 'Faradila', 'Devy', 'Bila']

for name in names:
  print(name)

In [ ]:
# Print single character from Labkom
name = "Labkom"

for char in name:
  print(char)

9. Function

In [ ]:
# Get user input
var = input()

def greeter():
  print('Hello ' + var + ', how are you?')

# Call the function
greeter()

10. Object Oriented / Class

In [ ]:
# Maroon as Object or Class
class Maroon:

  # Constructor
  def __init__(self, name, region, age):
    self.name = name
    self.region = region
    self.age = age

member1 = Maroon("Yoga", 'Bogor', 21)

print(member1.name)

Yoga

# Whoaa! you reach the bottom of this course, thank you! </br>