<a href="https://colab.research.google.com/github/theiaa7/PythonLC/blob/main/P2SubCode_datacleansing101.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## DATACLEANSING101
Note: Codingan ini hanya contoh beberapa metodenya, tanpa library dan file yang bisa di proses

In [ ]:
import pandas as pd
df.drop_duplicates(inplace=True)

In [ ]:
df.fillna(value, inplace=True)

In [ ]:
df.dropna(inplace=True)

In [ ]:
# Contoh: Mengganti nilai yang tidak mungkin dengan nilai yang valid
df['age'] = df['age'].apply(lambda x: x if 0 <= x <= 120 else None)

In [ ]:
# Contoh: Menghapus tanda baca dan karakter khusus dari kolom "text"
import re
df['text'] = df['text'].apply(lambda x: re.sub('[^a-zA-Z0-9\s]', '', x))

In [ ]:
# Contoh: Mengubah format tanggal menjadi "YYYY-MM-DD"
df['date'] = pd.to_datetime(df['date'], format='%d/%m/%Y').dt.strftime('%Y-%m-%d')